.wholesite{
/* background-color: #8FC1B5; */
/* display: flex;
flex-direction: column; */
}


p {
    font-family: 'Work Sans', sans-serif;
}
	.navbar{
        list-style: none; 
        width: 100%;
        padding-bottom: 20px; 
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;
        

    }
        .navbarlistoverlord{
            /* position: sticky; */
            height: 30%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            list-style: none; 
            padding: 0;  
            overflow: hidden;
            background-color: #146551;
            justify-content: center;
            flex-grow: 1;
            flex: wrap;
            font-family: 'Libre Baskerville', serif;
        
        }

        li {
            min-width: 15%;
            height: 100%
            /* float: left; */

        }

        li a{
            margin-top: 10%;
            margin-bottom: 10%;
            display: block;
            color: white;
            text-align: center;
            padding: 1em;
            display: block;
            

        }
        li a:hover{
            background-color: #265C4B;
        }
       /* this makes the page int he nav bar a different color when you're on the page */

       .active {
        background-color: #265C4B;
      }
		#home{

        }
		#bio{

        }
		#resume{

        }
		#projects{

        }
		#links{

        }
		#chat{

        }

        /* use this link later to get hover text over images https://blog.logrocket.com/responsive-image-gallery-css-flexbox/#creating-responsive-image-gallery-uniform-image-dimensions */
/* -------------------------------------------------------------- */

	.homepage{
        display: flex;
        flex-direction: column;;
        justify-content: center;
        flex-wrap: wrap;
        margin-left:15%
    }

    .homepageheadshot{
        flex-basis: 50px;
        object-fit: cover;
        max-width: 100%;
        border-radius: 5px; 
        padding-bottom: 20px; 
        width: 200px;
        height: 200px;

    }
    #whoisbethpara{
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: 30%;
        justify-content: center;
        padding-left: 50px;
    }
        .title{
            margin-bottom: 5%;
        }

		.whoisbeth{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 30%;

        }
			#whoheaderhome{
                font-family: 'Libre Baskerville', serif;
            }
			#whoparahome{
            }
/* -------------------------------------------------------------- */

		.whatpeoplearesaying{
            
        }
			#whatheaderhome{
                font-family: 'Libre Baskerville', serif;
            }

            .carousel-container {
                width: 70%;
                display: flex;
                justify-content: space-around;
            }

            .carousel-text {
                width: 80%;
                background: white;
                padding: 10px;
                border-radius: 10px;
                /* box-sizing: border-box; */
            }

            .whattexthome {
                width: 100%;
                border-radius: 10px;
                display: none;
                font-family: 'Work Sans', sans-serif;
            }

            .carousel-button {
                align-self: center;
                background: rgba(143, 193, 181, .85);
                color: black;
                padding: 10px;
                border-radius: 50%;
                text-align: center;
            }

            .carousel-button:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, .85);
                /* color: white; */
            }

            .whattexthome:first-of-type {
                display:block
            }

            /* .whattexthome:nth-last-of-type(2) {
                display:block
            }

            .whattexthome:nth-last-of-type(3) {
                display:block
            } */

            /* this gets all of them to show up under eachother- figure out how to get them next to eachother */


/* -------------------------------------------------------------- */


		.glimpseintolife{
            font-family: 'Libre Baskerville', serif;
            display: flex;
            flex-wrap: wrap;
            flex-basis: 300px;
        }
            .glimpseheader{}
            .glimpsephotolist{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                gap: 10px;
            }

            .glimpsephotolist::after{
                content: "";
                flex-basis: 350px;
            }

            .glimpsephotoli{
                flex-basis: 150px;
                list-style: none; 
                
            }
			    .glimpsephotohome{
                    object-fit: cover;
                    max-width: 100%;
                    min-height: 100;
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                    border-radius: 5px;
                    flex-grow: 10;
                    
                }

               
/* -------------------------------------------------------------- */


	.biopage{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
/* i want the photo to wrap on top of the text when the broswer shrinks */
        .stackthese{
            flex-direction: column;
            flex-basis: 30%;
            
        }

		#biophoto{
            flex-basis: 50px;
            object-fit: cover;
            max-width: 100%;
            border-radius: 5px; 
            padding-bottom: 20px; 
        }
        /* firgure out how to get the width to stop shrinking */
		.biobutton{
            justify-content: end;
            width: 100%;
            height: 30px;
            background-color:#589A8D;
            font-family: 'Libre Baskerville', serif;

            
        }

        .textstack{
            flex-direction: column;
            flex-wrap: wrap;
            flex-basis: 30%;
            justify-content: center;
            padding-left: 50px;
        }
		.biotitle{
            text-align: center;
            font-family: 'Libre Baskerville', serif;
        }
		.biopara{
            text-align: center;
            font-family: 'Work Sans', sans-serif;
        }


        #modal{
            background-color: white;
            position: fixed;
            top: 0;
            left: 0;
            height: 500px;;
            width: 500px;
            margin-left: 5%;
            margin-top: 5%;
            z-index: 1;
            overflow:auto;
            display: none;
        }

        #modal-textbox {
            background-color:white;
            height: 350px;
            width: 300px;
            border-radius: 10px;
            margin: 150px auto;
            box-shadow: 4px, 4px, 4px, 4px rgba(0, 0, 0, .2);
            padding: 3px;
            line-height: 120%;
        }

       

        #modal-footer {
            margin-top: 20%;
            text-align: right;
        }

        #biomodalheader {
            font-family: 'Libre Baskerville', serif;
            padding-bottom: 15px;
            line-height: 120%;
        }

        .biomodaltext {
            font-family: 'Work Sans', sans-serif;
        }

        .modal-buttons{
            padding: 14px 18px;
            background-color: #007566;
            color: white;
            border: none;
            outline: none;
            border-radius: 3px;
            font-family: 'Libre Baskerville', serif;
            cursor: pointer;

        }

        #close{
            
        }
/* -------------------------------------------------------------- */


	.resumepage{
     height: 1000px;
    }
		#resumetitle{
            font-family: 'Libre Baskerville', serif;
            text-align: center;
            font-size: 2.5em;
        }
		#downloadableresume{}

        iframe {
            margin-left: 5%;
            margin-right: 15%;
            height: 100%;
            width: 80%;
        }

/* -------------------------------------------------------------- */


	.projects{
        font-family: 'Libre Baskerville', serif;
        /* display: flex;
        flex-direction: column; */

    }
		#projectsheader{
            text-align: center;
            margin-bottom: 20%;
        }

        .projecttext {
            width: 100%;
            border-radius: 10px;
            margin-left: 20%;

            font-family: 'Work Sans', sans-serif;
            display: none;
        }

        .carousel-containerproject {
            width: 70%;
            display: flex;
            align-items: center;
            /* justify-content: space-around; */
        }

        .carouseltextproject {
            width: 80%;
            background: white;
            padding: 10px;
            border-radius: 10px;
            /* box-sizing: border-box; */
        }

        .carouselbuttonproject {
            align-self: center;
            margin-left: 35%;
            margin-right: 30%;
            background: rgba(143, 193, 181, .85);
            color: black;
            padding: 10px;
            border-radius: 50%;
            text-align: center;
        }

        .carousel-buttonproject:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, .85);
            /* color: white; */
        }

        .whattexthome:first-of-type {
            display:block
        }


        

/* -------------------------------------------------------------- */


	.linkspage{
        display:flex;
        flex-direction: column;
        flex-basis: 150px;
        
        /* justify-content: center; */
    }

    .photoswithlinks{
        flex-wrap: wrap;
        /* flex-basis: 50px; */
        /* max-width:50%; */
        max-width:50px;
        justify-content: center;
    
    
        
    }

		/* will need more here for linked in and git hub links */
		
/* -------------------------------------------------------------- */
    .chatbody{
        background-color: #8FC1B5;
        width:100%;
    }

	.letschat{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        

    }

    .chatform {
        margin-left: 35%;
        margin-right: 30%;
        margin-bottom: 30%;
    }

    .submitbutton{
        background-color: #146551;
    }
        /* will need more here for the form submission
        will need here for alert */
/* -------------------------------------------------------------- */

	.footer{
        display: flex;
        justify-content: end;
        flex-direction: column;

    }
		#footername{}
		#footeremail{}
		#footercell{}
		/* will need more here for footer socials */


       